  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ABSA Solutions</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Services</h2>
        <p>Salesforce.com's customer-relationship management (CRM) service comprises several broad categories: Commerce Cloud, Sales Cloud, Service Cloud, Data Cloud (including Jigsaw), Marketing Cloud, Community Cloud (including Chatter), Analytics Cloud, App Cloud, and IoT with over 100,000 customers.. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Salesforce</h2>
        <p>It provides customer-relationship management service and also sells a complementary suite of enterprise applications focused on customer service, marketing automation, analytics, and application development. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Future</h2>
        <p>It's predicted that SaaS CRM solutions will reach a deployment rate of 80 to 85% by 2025. The CRM software market in itself is estimated to grow at a rate of about 14% annually in the short-term, through 2017.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">

      </div>
      <div class="col-md-1">
      <app-weather-widget></app-weather-widget>
    </div>
    </div>
    <hr>
  </div> <!-- /container -->
